.container {
  padding: 25px;
  background-color: #eceeee;
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 25px;
}

.column {
  display: grid;
  grid-template-rows: max-content;
  row-gap: 25px;
  grid-auto-rows: 50px;
}

.column__header {
  height: 30px;
  color: #fff;
  font-size: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.column__header--winnie {
  background-color: #8e6e95;
}

.column__header--bob {
  background-color: #39a59c;
}

.column__header--thomas {
  background-color: #344759;
}

.column__header--george {
  background-color: #e8741e;
}

.task {
  background-color: burlywood;
  padding: 5px;

  display: grid;
  grid-template-columns: 25px 1fr 25px;
  align-items: center;
}

.task__icon {
  color: #fff;
  cursor: pointer;
}

.task__content {
  font-size: 16px;
}

.button {
  border: none;

  padding: 0 5px 5px 0;
  font-size: 16px;
  background: none;

  justify-self: start;
  align-self: start;
}

.button--winnie {
  border-bottom: 2px solid #8e6e95;
}

.button--bob {
  border-bottom: 2px solid #39a59c;
}

.button--thomas {
  border-bottom: 2px solid #344759;
}
.button--george {
  border-bottom: 2px solid #e8741e;
}
